body{
    padding-bottom: 1000px;
}


.navbar{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 30px;
    background-color: rgba(255, 97, 246, 0.11);
    box-shadow: 3px 3px 17px rgba(0, 0, 0, 0.25);
}

.navbar-brand,.nav-link{
    font-family: 'Inria Serif';
    color: #1A1414;
}

.f-div{
    padding-top: 150px;
}


.main-head{
    font-family: 'Inria Serif';
    font-weight: 0;
    color: #1A1414;
    margin-bottom: 20px;
}
.main-head-2{
    font-family: 'Inria Serif';
    line-height: 76.46px;
    
    font-size: 64px;
    color: #8D09C6;
}

.first-icons{
    margin-top: 20px;
    width: 276px;
    height: 61px;
}


.first-icon-images{
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1.5px solid #8D09C6;
}

.f-icons{
    font-size: 30px;
    color: #8D09C6;
    padding-top: 12px;
}

.f-button{
    text-align: center;
    vertical-align: middle;
    width: 276px;
    height: 61px;
    margin-top: 50px;
    background-color: #8D09C6;
    border: none;
    border-radius: 50px;
    color: aliceblue;
    font-family: 'Inria Serif';
    font-size: 32px;
}

.imag{
    border: 1px solid blue;
    background-color: #8D09C6;
    height: 480px;
    width: 470px;
    border-radius: 700px;
}

.nalini-img{
    width: 450px;
    margin-top: 28px;
    margin-left: 5px;
}